$width-for-preview-block-text: "min-width: 400px";
$width-for-preview-block-pictures: "min-width: 950px";
$small-width-only: "max-width: 799px";
$middle-width: "min-width: 800px";
$full-width: "min-width: 1181px";

$font-main: "Montserrat", "Arial", sans-serif;