@font-face {
  font-family: "Montserrat";
  src: local(montserrat),
  url("../fonts/montserrat.woff") format("woff"),
  url("../fonts/montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local(montserrat),
  url("../fonts/montserratbold.woff") format("woff"),
  url("../fonts/montserratbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}