.shopping-cart {
  min-height: 25px;
  padding-right: 14px;
}

.shopping-cart__output {
  display: inline-block;
  vertical-align: top;
  min-height: 15px;
  margin-top: 5px;
  padding-left: 40px; 
  font-size: 12px;
  font-weight: 700;
  color: #000;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -14px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

@media ($middle-width) {
  .shopping-cart {
    padding-right: 0;
  }
}